@import 'breakpoint-mixins';

.login-form-wrapper {
  background: rgba(0,0,0,0.1);
}
.login-form {
  min-height: 150px;
  margin: 10% 20%;
  display: block;
  box-shadow: 0.5em 0.35em rgba(0,0,0,0.1);
  background: white;
  form {
    padding: 5% 0 0 0;
  }
}
.login-input {
  width: 60%;
  min-width: 200px;
  margin: 3% 20% 2.5%;
  border-width: 0 0 1px 0;
  text-decoration: none;
  font-size: 1.25em;
  font-family: 'Open Sans';
  font-weight: 200;
  text-align: center;
  @include for-phone-only {
    width: 60%;
    margin: 3% 20%;
  }
}
.login-submit {
  width: 40%;
  height: 2.2em;
  min-width: 100px;
  margin: 5% 30%;
  border-width: 0;
  text-decoration: none;
  font-size: 1.25em;
  font-family: 'arial';
  //border-radius: 0.3em;
  color: white;
  background-color: #1fc8db;
  @include for-phone-only {
    width: 60%;
    margin: 3% 20%;
  }
}
.login-submit:hover {
  background: #7be8f5;
  cursor: pointer;
}
.login-input:focus {
  outline: none;
}
.loginDesc {
  font-family: 'Amsi Pro Ultra';
  text-align: center;
  text-transform: uppercase;
  //color: #1fc8db;
  background: #9C27B0;
  margin: 0;
  //margin-bottom: 5%;
  padding: 2vw 0;
  color: white;
  line-height: 1.25em;
}
