/**
 * splash background section
 */

.splash-bg {
    color: white;
    background: #000 url('../images/4HPEcj8.jpg') center/cover no-repeat;
//  background-repeat: no-repeat;
//  background-size: cover;
//  width: 100%;
    padding: 30vh 15vw;
    display: block;
    background-attachment: fixed;
}
