body {
  background: #fff;
//  min-width: 550px;
  padding: 0;
}

h1, h2 { font-family: 'Amsi Pro Ultra'; } /*font: bold 2em Amsi Pro Ultra*/
h3 { font-family: 'Amsi Pro'; } /*font: bold 1.17em Amsi Pro*/
p, a { font-family: 'Roboto-Light'; }

section {
  border-top: 2px dashed lightgrey;
  margin: 0;
  overflow: auto;
}

//optional label and section border//
.label {
  font: italic 12px arial, sans-serif;
  padding: 0 10px;
  display: block;
}

/*
  //
  //one column styling//
  .oneColumn {
    padding: 20px;
  }
  //two column styling//
  .twoColumn {
    padding: 20px;
    p {
      width: 47.5%;
      padding-right: 2.5%;
      display: table-cell;
    }
  }
  //three column styling//
  .threeColumn {
    padding: 20px;
    p {
      width: 33.3%;
      padding-right: 2.5%;
      display: table-cell;
    }
}

@media (max-width:800px) {
  .twoColumn {
    padding: 20px;
    p {
      width: 47.5%;
      padding-right: 2.5%;
      display: table-cell;
    }
  }
  //
  .threeColumn {
    padding: 20px;
    p {
      width: 47.5%;
      padding-right: 2.5%;
      display: inline-table;
      float: left;
    }
  }
}

@media (max-width: 600px) {
  //
  //one column styling//
  .oneColumn {
    padding: 20px;
  }
  //two column styling//
  .twoColumn {
    padding: 20px;
    p {
      width: 95%;
      padding-right: 2.5%;
      display: inline-table;
    }
  }
  //three column styling//
  .threeColumn {
    padding: 20px;
    p {
      width: 95%;
      padding-right: 2.5%;
      display: block;
      float: left;
      height: 20%;
      min-height: 200px;
    }
  }
}
*/
